<div class="px-3 py-2">
  <div class="row d-flex justify-content-between mb-2">
    <div class="col">
      <%= image_tag(comment.user.avatar.variant(resize_to_fill: [30, 30]), class: "rounded-circle") %>
      <small><%= comment.user.email %></small>
    </div>
    <div class="col text-end">
      <small class="text-secondary">
        <%= time_ago_in_words(comment.created_at) %> ago
      </small>
    </div>
  </div>
  <div class="row justify-content-en">
    <div class="col"></div>
    <% if user_signed_in? %>
      <% if current_user == comment.user %>
        <div class="col-sm-1 d-sm-flex center">
          <%= render "shared/buttons/edit_button",
            path: nil,
            remote: true,
            data: {
              controller: "comments",
              action: "comments#toggleForm",
              comments_body_param: "comment-body-#{ comment.id }",
              comments_form_param: "comment-form-#{ comment.id }"
            }
          %>
        </div> 
        <div class="col-sm-1 center">
          <%= render "shared/buttons/delete_button", path: [comment.post, comment] %>
        </div> 
      <% end %>
    <% end %>
  </div>
  <p class="m-0 p-0">
    <div id="comment-body-<%= comment.id %>">
      <%= comment.body %>
    </div>
    <div id="comment-form-<%= comment.id %>" class="d-none">
      <%= render "comments/form", post: @post, comment: comment %>
    </div>
  </p>
  <hr class="mt-4 mb-2">
</div>