<div class="px-3 py-2">
  <div class="row d-flex justify-content-between mb-2">
    <div class="col">
      <%= image_tag(comment.user.avatar.variant(resize_to_fill: [30, 30]), class: "rounded-circle") %>
      <small><%= comment.user.email %></small>
    </div>
    <div class="col text-end">
      <small class="text-secondary">
        <%= time_ago_in_words(comment.created_at) %> ago
      </small>
    </div>
  </div>
  <div class="button">
    <% if user_signed_in? %>
      <% if current_user == comment.user %>
        <div class="row">
          <div class="col">
            <%= button_to([comment.post, comment], method: :delete, class: "btn btn-outline-danger", style: "width: 50px; height:50px") do %>
              <i class="bi bi-trash3"></i>
            <% end %>
          </div> 
        </div>
      <% end %>
    <% end %>
  </div>
  <p class="m-0 p-0">
    <%= comment.body %>
  </p>
  <hr class="mt-4 mb-2">
</div>