<div id="<%= dom_id post %>" class="col-sm-4">
  <%= link_to(post, class: "text-dark text-decoration-none") do %>
    <div class="hover-shadow hover-border">
      <div class="card border-0">
        <div class="card-body">
          <h5 class="card-title mb-3"
              style="-webkit-line-clamp: 2; display: -webkit-box; -webkit-box-orient: vertical;overflow: hidden;">
            <%= post.title %>
          </h5>
          <p class="card-text"
            style="-webkit-line-clamp: 3; display: -webkit-box; -webkit-box-orient: vertical;overflow: hidden;">
            <%= post.content.to_plain_text %>
          </p>
          <div class="row mb-3">
            <div>
              <% post.tag_list.each do |tag| %>
                <span class="badge tags"><%= tag %></span>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 text-truncate">
              <%= image_tag(post.user.avatar.variant(resize_to_fill: [30, 30]), class: "rounded-circle") %>
              <small><%= post.user.email %></small>
            </div>
            <div class="col-sm-6 text-end">
              <small><%= time_ago_in_words(post.created_at) %> ago</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
