<div id="<%= dom_id post %>" class="col-sm-4">
  <%= link_to(post, class: "text-dark text-decoration-none") do %>
    <div class="card overflow-auto shadow-sm">
      <div class="card-body">
        <h5 class="card-title text-truncate">
          <%= post.title %>
        </h5>
        <p class="card-text text-truncate">
          <%= post.content %>
        </p>
        <div class="row">
          <div class="col-sm-6">
            <small><%= post.user_id %></small>
          </div>
          <div class="col-sm-6 text-end">
            <%= User::get_user_by_id(post.user_id) %>
            <small>posted <%= time_ago_in_words(post.created_at) %> ago</small>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
