<div class="row mb-1 justify-content-space-between">
  <div class="col">
    <%= link_to(posts_path, class: "fs-1 text-dark text-decoration-none") do %>
      <i class="bi bi-arrow-left"></i>
    <% end %>
  </div>
  <% if user_signed_in? %>
    <% if current_user == @post.user %>
      <div class="col-sm-2 center">
        <div class="col center">
          <%= render "shared/buttons/edit_button", path: edit_post_path(@post), remote: false, data: nil %>
        </div>
        <div class="col center">
          <%= render "shared/buttons/delete_button", path: @post %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="card overflow-auto shadow-sm p-3 mb-4">
  <div class="card-body">
    <div class="row">
      <h1 class="col card-title">
        <%= @post.title %>
      </h1>
      <% if user_signed_in? %>
        <div class="col-sm-1 d-flex justify-content-end">
          <%= render partial: "bookmarks/form", post: @post %>
        </div>
      <% end %>
    </div>
    <div class="row my-3">
      <div class="col-sm-6">
        <%= image_tag(@post.user.avatar.variant(resize_to_fill: [30, 30]), class: "rounded-circle") %>
        <small><%= @post.user.email %></small>
      </div>
      <div class="col-sm-6 text-end">
        <small><%= time_ago_in_words(@post.created_at) %> ago</small>
      </div>
    </div>
    <p class="card-text">
      <%= @post.content %>
    </p>
    <p>
      <% @post.tag_list.each do |tag| %>
        <span class="badge tags"><%= tag %></span>
      <% end %>
    </p>
  </div>
</div>

<div class="container mt-5">
  <h3>Comments (<%= @post.comments.count %>)</h3>
  <div>
    <%= render @post.comments %>
  </div>
  <% if user_signed_in? %>
    <div class="container mt-5">
      <%= render "comments/form", post: @post, comment: @post.comments.build %>
    </div>
  <% end %>
</div>
